<nav class="navbar navbar-light" style="background-color: #b30000;">

  <a href="/" class="navbar-left"><img src="http://d2hr0cd94qdguw.cloudfront.net/20170906rygU_YKpY-/dist/img/tmp-logo-alt.png" style="width:96px;height:64px;"></a>

  <a class="navbar-brand" href="/">Home</a>
  <a class="navbar-brand" href="/portfolio">Portfolio </a>
  <a class="navbar-brand" href="/calender">Calender</a>
  <a class="navbar-brand" href="/library">Library</a>
  <a class="navbar-brand" href="/videos">Videos</a>
  <a class="navbar-brand pull-right" href="/login">Login</a>
  <a class="navbar-brand pull-right" href="/settings">Settings</a>
</nav>
